# Add any directories, files, or patterns you don't want to be tracked by version control

# matlab
# OSX / *nix default autosave extension
*.m~

# python
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Other files
tmp*
.DS_Store
